<ng-diagram-base-edge
  class="flow-edge"
  [class]="
    'flow-edge state-' + state() + (isRework() ? ' rework' : '') + (isDimmed() ? ' dimmed' : '')
  "
  [edge]="routedEdge()"
>
  @if (isRework()) {
    @for (marker of markers(); track marker.id) {
      <ng-diagram-base-edge-label [id]="marker.id" [positionOnEdge]="marker.pos">
        <span
          class="rework-marker"
          aria-hidden="true"
          [style.transform]="'rotate(' + marker.angle + 'deg)'"
        >
          <svg
            viewBox="0 0 24 24"
            width="14"
            height="14"
            fill="none"
            stroke="currentColor"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="14 7 9 12 14 17" />
          </svg>
        </span>
      </ng-diagram-base-edge-label>
    }
  }
</ng-diagram-base-edge>
