<div class="canvas" [attr.data-mode]="mode()">
  <ng-diagram
    [model]="model"
    [config]="config()"
    [middlewares]="middlewares"
    [nodeTemplateMap]="nodeTemplateMap"
    [edgeTemplateMap]="edgeTemplateMap"
    (selectionChanged)="onSelectionChanged($event)"
    (selectionMoved)="onSelectionMoved($event)"
    (groupMembershipChanged)="onGroupMembershipChanged($event)"
    (paletteItemDropped)="onPaletteItemDropped($event)"
  >
    <ng-diagram-background />
  </ng-diagram>
  @if (mode() === 'edit') {
    <app-edge-reshape-overlay />
  }
</div>
