:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--al-sem-color-bg-default);
}

.shell {
  display: grid;
  grid-template-rows: 56px 1fr;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 220px 1fr 280px;
  height: 100%;
  overflow: hidden;
}

.layout[data-mode='monitor'] {
  grid-template-columns: 1fr 280px;
}

.left {
  overflow: hidden;
}
.center {
  overflow: hidden;
  background: var(--al-sem-color-bg-default);
}
.right {
  overflow: hidden;
}
